{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Yatra</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
  <link href="favicon.ico" rel="shortcut icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'itinerary_app/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'itinerary_app/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'itinerary_app/lib/animate-css/animate.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'itinerary_app/css/style.css' %}" rel="stylesheet">

</head>

<body>
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
          <!-- <img class="" src="{% static 'itinerary_app/img/logo.png' %}" alt="Yatra"> -->
          <h1 style="font-family:sans-serif; font-size: 90px;">Yatra</h1>
        </div>

        <h1>Welcome to Yatra Inc.</h1>
        <h2>We provide <span class="rotating">your dream tour , fun events</span></h2>
        <div class="actions">
          <a href="{% url 'form' %}" class="btn-get-started">Get Started</a>
          <a href="#services" class="btn-services">Our Services</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- <a href="#hero"><img src="{% static 'itinerary_app/img/logo.png' %}" alt="" title="" /></img></a> -->
        <!-- Uncomment below if you prefer to use a text image -->
        <h1><a href="#hero">Yatra</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">About Us</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">

        <div class="col-lg-6 about-img">
          <img src="{% static 'itinerary_app/img/background.jpg' %}" alt="">
        </div>

        <div class="col-md-6 about-content">
          <h2 class="about-title">PLACE WHERE YOUR DREAM TOUR COMES TRUE</h2>
          <p class="about-text">
            Thinking of going on a tour? 
          </p>
          <p class="about-text">
            Can't decide how to plan your tour?
            We've all been there. We want to visit a place but can't decide where we will visit and whether it matches our interest or not.
          </p>
          <p class="about-text">
            But Don't worry! With our Destination site, you can get your entire tour planned within just few minutes and just according to your interest.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Services</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-list-alt"></i></div>
          <h4 class="service-title"><a href="">Your Itinerary</a></h4>
          <p class="service-description">Get your Itinerary within just few clicks</p>
        </div>
        <div class="col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-calendar"></i></div>
          <h4 class="service-title"><a href="">Fun Events</a></h4>
          <p class="service-description">Get any event details happening nearby </p>
        </div>
      </div>
    </div>
  </section>


  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{% static 'itinerary_app/img/team1.jpg' %}" alt=""></div>
            <h4>Aarohan Thapa</h4>
            <span>Team Member</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{% static 'itinerary_app/img/team2.jpg' %}" alt=""></div>
            <h4>Amisha Chaudhary</h4>
            <span>Team Member</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{% static 'itinerary_app/img/team3.jpg' %}" alt=""></div>
            <h4>Krijan Prajapati</h4>
            <span>Team Member</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="{% static 'itinerary_app/img/team-4.jpg' %}" alt=""></div>
            <h4>Rachana Basnet</h4>
            <span>Team Member</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Contact Us</h3>
          <div class="section-title-divider"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-push-2">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Balkumari,<br>Bagmati,Nepal</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>yatra@gmail.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+977 9818573628</p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Yatra Inc</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Designed by <a href="https://bootstrapmade.com/">404</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="{% static 'itinerary_app/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'itinerary_app/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'itinerary_app/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'itinerary_app/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'itinerary_app/lib/morphext/morphext.min.js' %}"></script>
  <script src="{% static 'itinerary_app/lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'itinerary_app/lib/stickyjs/sticky.js' %}"></script>
  <script src="{% static 'itinerary_app/lib/easing/easing.js' %}"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="{% static 'itinerary_app/js/custom.js' %}"></script>

  <script src="{% static 'itinerary_app/contactform/contactform.js' %}"></script>


</body>

</html>
